 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hi my name is Kartik, I am an IT Enthusiast based in Melbourne, Australia. Finishing my Software Engineering degree from RMIT University has induced my interests in Amazon Web Services, Data Science, Software Development & Artificial Intellegence </p>
                </div>
                <div class="col-lg-4">
                    <p>I like building things from scratch and have amazing people's skills, ideally looking for oppurtunities in Software Development, Data Analytics and Tech Sales</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>
